.footer {
  color: white;
  background-color: blue;
  padding-top: 3 em;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50 vh;
  justify-content: space-around;
  position: fixed;
}
.first-footer {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
}